@import "src/assets/sass/paper-kit/variables";
@import "src/variables";



// Categories in carousel
p {
    word-break: keep-all;
    text-overflow: ellipsis;
}

.title-cg {
    display: block;
}



