/*::ng-deep.mat-snack-bar-container {
 width: 500px;
 background-color: #FFA69D;
 color: white;
 padding: 10px 10px !important;
 margin: 20px !important;

}

::ng-deep.mat-snack-bar-container .flex{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
 }*/



