<div>
    <app-home-section-carousel></app-home-section-carousel>
    <!--<app-section-image [homeSection]="homeSections.welcome"></app-section-image>-->

    <app-home-section-searching></app-home-section-searching>

    <app-section-image [homeSection]="homeSections.experience"></app-section-image>

    <app-home-section-architecture [homeSection]="homeSections.architecture"></app-home-section-architecture>

    <app-home-section-representation [homeSection]="homeSections.representation"></app-home-section-representation>

    <app-section-image [homeSection]="homeSections.laboratory"></app-section-image>

    <app-home-section-store></app-home-section-store>

    <app-home-section-blogs></app-home-section-blogs>

    <app-home-section-team></app-home-section-team>
</div>

