<div class="section-image white-bg ">
    <span class='icon-ultra-large icon-friendly-label shape-up'></span>
    <span class='icon-super-large icon-shapes-2 shape-right'></span>

    <div class="container-fluid full-content">
        <div class="info">
            <div class="title text-uppercase">
                <h1>Estamos trabajando en la construcción de nuestro sitio web</h1>
            </div>

            <div class="message">
                <p>Recuerda registrarte para que te contemos cuando estemos listos</p>
            </div>

            <div class="center">
                <button type="button" class="btn btn-primary" (click)="OpenSignUpPopup()">Me quiero registrar</button>
            </div>
            
        </div>
    </div>

</div>